.content-end{
  display: flex;
  justify-content: end;
}

.notification-icon{
  font-size: 23px;
  color: #ffc409;
}

.light-color-section{
  margin-top: 25px;
  padding: 15px;
  background: var(--ion-color-light);
}

.no-margin-top{
  margin-top: 0;
}

.dark-title{
  font-weight: 700;
  text-align: center;
}

.calories-box{
  width: 90%;
  background: var(--ion-color-primary);
  color: white;
  margin: 20px auto;
  padding: 10px;
  border-radius: 18px;

  ion-img{
    width: 100%;
  }
}

.card_img{
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.macro-table{
  width: 100%;

  tr{
    border-bottom: 1px solid var(--ion-color-light-shade);

    th, td{
      padding: 15px;
      text-align: center;
    }

    th{
      color: var(--ion-color-primary);
      font-size: 14px;
      font-weight: 600;
    }

  }
}
