<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-title>Personalizar</ion-title>
        </ion-col>

        <ion-col class="content-end">
          <ion-button size="small" color="dark" shape="round"><ion-icon name="notifications-circle-outline" class="notification-icon"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button="true" detail="true" (click)="setHorariosOpen(true)">
      <ion-icon name="time" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h3 class="dark-title">Montar horários de refeição</h3>
        <p class="ion-text-wrap">A que horas você come? café da manhã as 6h... Almoço as 12h...</p>
        <p class="ion-text-wrap">Personalize os horários do seu jeito aqui</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="setAlimentosOpen(true)">
      <ion-icon name="nutrition" slot="start" color="danger"></ion-icon>
      <ion-label>
        <h3 class="dark-title">Adicionar alimentos</h3>
        <p class="ion-text-wrap">Que alimentos você desfruta em sua refeição? </p>
        <p class="ion-text-wrap"> Nós selecionamos alguns muito comuns entre brasileiros. Mas sinta-se a vontade de adicionar mais</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="setRefeicaoOpen(true)">
      <ion-icon name="scale" slot="start" color="warning"></ion-icon>
      <ion-label>
        <h3 class="dark-title">Montar refeições</h3>
        <p class="ion-text-wrap">Está seguindo uma dieta com refeições controladas?</p>
        <p class="ion-text-wrap">Monte elas aqui, de forma rápida e fácil.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isHorariosOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Montar horários de refeição</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setHorariosOpen(false)"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button color="secondary" size="full" (click)="setAddHorarioOpen(true)">Adicionar novo horário</ion-button>

        <div class="hint">
          <ion-icon name="alert-circle-outline" slot="start" color="warning"></ion-icon>
          <ion-text color="warning"><small>Dica: Arraste um item para o lado para exclui-lo or altera-lo</small></ion-text>
        </div>


        <ion-list>
          <ion-item-sliding>
            <ion-item>
              <ion-label> <strong>(06:00)</strong> Café da manhã </ion-label>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="secondary">
                <ion-icon name="create-outline" size="large"></ion-icon>
              </ion-item-option>

              <ion-item-option color="danger">
                <ion-icon name="trash-bin-outline" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-label> <strong>(12:00)</strong> Almoço </ion-label>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="secondary">
                <ion-icon name="create-outline" size="large"></ion-icon>
              </ion-item-option>

              <ion-item-option color="danger">
                <ion-icon name="trash-bin-outline" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-label> <strong>(16:00)</strong> Lanche da tarde </ion-label>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="secondary">
                <ion-icon name="create-outline" size="large"></ion-icon>
              </ion-item-option>

              <ion-item-option color="danger">
                <ion-icon name="trash-bin-outline" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-label> <strong>(20:30)</strong> Janta </ion-label>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="secondary">
                <ion-icon name="create-outline" size="large"></ion-icon>
              </ion-item-option>

              <ion-item-option color="danger">
                <ion-icon name="trash-bin-outline" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isAlimentosOpen" class="alimentos-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adicionar alimentos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setAlimentosOpen(false)"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button color="secondary" size="full" (click)="setAddAlimentoOpen(true)">Adicionar novo alimento</ion-button>

        <ion-searchbar placeholder="Pesquise um alimento" show-clear-button="focus" class="ion-margin-top my-search-bar"></ion-searchbar>

        <ion-accordion-group class="ion-margin-top">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label><strong>Arroz</strong>&nbsp;<ion-text color="medium">(100g)</ion-text></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label><strong>Feijão</strong>&nbsp;<ion-text color="medium">(100g)</ion-text></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label><strong>Batata</strong>&nbsp;<ion-text color="medium">(40g)</ion-text></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isRefeicaoOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Montar Refeições</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setRefeicaoOpen(false)"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button color="secondary" size="full" (click)="setAddRefeicaoOpen(true)">Montar nova refeição</ion-button>

        <ion-searchbar placeholder="Pesquise uma refeição" show-clear-button="focus" class="ion-margin-top my-search-bar"></ion-searchbar>

        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label><strong>Café da manhã</strong> - Bacon com ovos</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>

              <ion-buttons class="ion-margin-top">
                <ion-button size="small" fill="solid" shape="round" color="secondary"><ion-icon name="create-outline" slot="start"></ion-icon> Editar</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="danger"><ion-icon name="trash-bin-outline" slot="start"></ion-icon> Excluir</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="tertiary"><ion-icon name="nutrition-outline" slot="start"></ion-icon> Alimentos</ion-button>
              </ion-buttons>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label><strong>Almoço</strong> - Arroz e frango</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>

              <ion-buttons class="ion-margin-top">
                <ion-button size="small" fill="solid" shape="round" color="secondary"><ion-icon name="create-outline" slot="start"></ion-icon> Editar</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="danger"><ion-icon name="trash-bin-outline" slot="start"></ion-icon> Excluir</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="tertiary"><ion-icon name="nutrition-outline" slot="start"></ion-icon> Alimentos</ion-button>
              </ion-buttons>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label><strong>Janta</strong> - Bife</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>

              <ion-buttons class="ion-margin-top">
                <ion-button size="small" fill="solid" shape="round" color="secondary"><ion-icon name="create-outline" slot="start"></ion-icon> Editar</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="danger"><ion-icon name="trash-bin-outline" slot="start"></ion-icon> Excluir</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="tertiary"><ion-icon name="nutrition-outline" slot="start"></ion-icon> Alimentos</ion-button>
              </ion-buttons>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isAddHorarioOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adicionar Horário</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setAddHorarioOpen(false)"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-text color="tertiary"><h3>Monte um novo horário de refeição!</h3></ion-text>
        <ion-text color="medium"><small>A que horas você costuma comer essa determinada refeição do dia?</small></ion-text>

        <form>
          <div class="ion-padding">
            <ion-item>
              <ion-label position="floating">Nome do horário</ion-label>
              <ion-input type="text" placeholder="Ex.: Café da manhã, Almoço, Janta etc."></ion-input>
            </ion-item>
          </div>

          <ion-text color="dark" class="ion-text-center"><h4>Horário</h4></ion-text>
          <ion-datetime presentation="time" class="time-picker"></ion-datetime>

          <ion-button class="ion-margin-top" color="success" expand="full">Adicionar</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isAddAlimentoOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adicionar Alimento</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setAddAlimentoOpen(false)"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-text color="tertiary"><h3>Adicione um novo alimento em seu cardápio</h3></ion-text>
        <ion-text color="medium"><small>Esquecemos de listar algum alimento importante? Qual seria? Preencha todas as informações nutricionais</small></ion-text>

        <div class="ion-padding">
          <form>
            <ion-item>
              <ion-label position="floating">Nome do alimento</ion-label>
              <ion-input type="text" placeholder="Ex.: Maçã, Arroz Branco, Feijão, Frango desfiado etc."></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Peso de referência (em gramas)</ion-label>
              <ion-input type="text" placeholder="Exemplo: 100, 30 etc."></ion-input>
            </ion-item>

            <h4 class="dark-title">Informações nutricionais</h4>
            <ion-text color="medium">Preencher com base no peso de referência</ion-text>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Carboidratos</ion-label>
                    <ion-input type="text" placeholder="em gramas"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Proteínas</ion-label>
                    <ion-input type="text" placeholder="em gramas"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Gorduras</ion-label>
                    <ion-input type="text" placeholder="em gramas"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Sódio</ion-label>
                    <ion-input type="text" placeholder="em miligramas"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Calorias</ion-label>
                    <ion-input type="text" placeholder="em kcal"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-button color="success" expand="full">Adicionar</ion-button>
          </form>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isAddRefeicaoOpen" class="add-refeicao-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adicionar Refeição</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setAddRefeicaoOpen(false)"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-text color="tertiary"><h3>Monte uma nova refeição para seu cardápio</h3></ion-text>
        <ion-text color="medium"><small>Combine os alimentos ideais em diferentes partes do dia para arrasar na sua dieta!</small></ion-text>

        <form class="ion-margin-top">
          <ion-item>
            <ion-label position="floating">Nome da refeição</ion-label>
            <ion-input type="text" placeholder="Ex.: Arroz e frango, Almoço principal, Refeição Livre, Janta 1"></ion-input>
          </ion-item>

          <div class="btn-box">
            <ion-button class="add-alimentos-btn" color="secondary" id="open-select_alimentos_modal">Alimentos</ion-button>
            <ion-text color="medium"><small>Clique aqui para escolher os alimentos que farão parte da refeição</small></ion-text>
          </div>

          <ion-modal #select_alimentos_modal trigger="open-select_alimentos_modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]">
            <ng-template>
              <ion-content>
                <ion-searchbar placeholder="Pesquisar alimento" (click)="select_alimentos_modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
                <ion-list>
                    <ion-list-header>
                      <ion-label>
                        <ion-text color="secondary"><h4 class="ion-text-center">Selecionar alimentos</h4></ion-text>
                      </ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let entry of alimentosRefeicao">
                      <ion-label>{{entry.val}}</ion-label>
                      <ion-checkbox [(ngModel)]="entry.isChecked" slot="end" name="alimento" (ionChange)="_getSelectedItem(entry)"></ion-checkbox>
                    </ion-item>
                </ion-list>

                <ion-button color="success" expand="full" (click)="select_qnt_alimentos_modal.isOpen = true">Próximo</ion-button>
              </ion-content>
            </ng-template>
          </ion-modal>

          <ion-modal #select_qnt_alimentos_modal trigger="open-select_qnt_alimentos_modal" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-list-header>
                    <ion-label>
                      <ion-text color="secondary"><h4 class="ion-text-center">Adicionar quantidade dos alimentos</h4></ion-text>
                    </ion-label>
                  </ion-list-header>

                  <ng-container *ngFor="let entry of alimentosRefeicao">
                    <ng-container *ngIf="entry.isChecked === true">
                      <ion-item>
                        <ion-label position="floating">{{entry.val}}</ion-label>
                        <ion-input [(ngModel)]="entry.qnt" (ionChange)="_getSelectedItemQnt(entry)" name="alimento-{{entry.val}}"></ion-input>
                      </ion-item>
                    </ng-container>
                  </ng-container>
                </ion-list>

                <ion-button color="success" expand="full">Concluído</ion-button>
              </ion-content>
            </ng-template>
          </ion-modal>

          <h4 class="dark-title ion-margin-top ion-text-center">Sua refeição tem</h4>
          <table class="macro-table">
            <thead>
              <tr>
                <th>Macros</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Calorias</td>
                <td>0 cal</td>
              </tr>
              <tr>
                <td>Carboidratos</td>
                <td>0g</td>
              </tr>
              <tr>
                <td>Proteínas</td>
                <td>0g</td>
              </tr>
              <tr>
                <td>Gorduras</td>
                <td>0g</td>
              </tr>
              <tr>
                <td>Sódio</td>
                <td>0mg</td>
              </tr>
            </tbody>
          </table>

          <ion-button color="success" expand="full">Adicionar</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
