<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-title>Personalizar</ion-title>
        </ion-col>

        <ion-col class="content-end">
          <ion-button size="small" color="dark" shape="round"><ion-icon name="notifications-circle-outline" class="notification-icon"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button="true" detail="true" (click)="setHorariosOpen(true)">
      <ion-icon name="time" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h3 class="dark-title">Montar horários de refeição</h3>
        <p class="ion-text-wrap">A que horas você come? café da manhã as 6h... Almoço as 12h...</p>
        <p class="ion-text-wrap">Personalize os horários do seu jeito aqui</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="setAlimentosOpen(true)">
      <ion-icon name="nutrition" slot="start" color="danger"></ion-icon>
      <ion-label>
        <h3 class="dark-title">Adicionar alimentos</h3>
        <p class="ion-text-wrap">Que alimentos você desfruta em sua refeição? </p>
        <p class="ion-text-wrap"> Nós selecionamos alguns muito comuns entre brasileiros. Mas sinta-se a vontade de adicionar mais</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="setRefeicaoOpen(true)">
      <ion-icon name="scale" slot="start" color="warning"></ion-icon>
      <ion-label>
        <h3 class="dark-title">Montar refeições</h3>
        <p class="ion-text-wrap">Está seguindo uma dieta com refeições controladas?</p>
        <p class="ion-text-wrap">Monte elas aqui, de forma rápida e fácil.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isHorariosOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Montar horários de refeição</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setHorariosOpen(false)"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button color="secondary" size="full">Adicionar novo horário</ion-button>

        <div class="hint">
          <ion-icon name="alert-circle-outline" slot="start" color="warning"></ion-icon>
          <ion-text color="warning"><small>Dica: Arraste um item para o lado para exclui-lo or altera-lo</small></ion-text>
        </div>


        <ion-list>
          <ion-item-sliding>
            <ion-item>
              <ion-label> <strong>(06:00)</strong> Café da manhã </ion-label>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="secondary">
                <ion-icon name="create-outline" size="large"></ion-icon>
              </ion-item-option>

              <ion-item-option color="danger">
                <ion-icon name="trash-bin-outline" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-label> <strong>(12:00)</strong> Almoço </ion-label>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="secondary">
                <ion-icon name="create-outline" size="large"></ion-icon>
              </ion-item-option>

              <ion-item-option color="danger">
                <ion-icon name="trash-bin-outline" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-label> <strong>(16:00)</strong> Lanche da tarde </ion-label>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="secondary">
                <ion-icon name="create-outline" size="large"></ion-icon>
              </ion-item-option>

              <ion-item-option color="danger">
                <ion-icon name="trash-bin-outline" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-label> <strong>(20:30)</strong> Janta </ion-label>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="secondary">
                <ion-icon name="create-outline" size="large"></ion-icon>
              </ion-item-option>

              <ion-item-option color="danger">
                <ion-icon name="trash-bin-outline" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isAlimentosOpen" class="alimentos-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adicionar alimentos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setAlimentosOpen(false)"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button color="secondary" size="full">Adicionar novo alimento</ion-button>

        <ion-searchbar placeholder="Pesquise um alimento" show-clear-button="focus" class="ion-margin-top my-search-bar"></ion-searchbar>

        <ion-accordion-group class="ion-margin-top">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label><strong>Arroz</strong>&nbsp;<ion-text color="medium">(100g)</ion-text></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label><strong>Feijão</strong>&nbsp;<ion-text color="medium">(100g)</ion-text></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label><strong>Batata</strong>&nbsp;<ion-text color="medium">(40g)</ion-text></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isRefeicaoOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Montar Refeições</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setRefeicaoOpen(false)"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button color="secondary" size="full">Montar nova refeição</ion-button>

        <ion-searchbar placeholder="Pesquise uma refeição" show-clear-button="focus" class="ion-margin-top my-search-bar"></ion-searchbar>

        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label><strong>Café da manhã</strong> - Bacon com ovos</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>

              <ion-buttons class="ion-margin-top">
                <ion-button size="small" fill="solid" shape="round" color="secondary"><ion-icon name="create-outline" slot="start"></ion-icon> Editar</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="danger"><ion-icon name="trash-bin-outline" slot="start"></ion-icon> Excluir</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="tertiary"><ion-icon name="nutrition-outline" slot="start"></ion-icon> Alimentos</ion-button>
              </ion-buttons>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label><strong>Almoço</strong> - Arroz e frango</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>

              <ion-buttons class="ion-margin-top">
                <ion-button size="small" fill="solid" shape="round" color="secondary"><ion-icon name="create-outline" slot="start"></ion-icon> Editar</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="danger"><ion-icon name="trash-bin-outline" slot="start"></ion-icon> Excluir</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="tertiary"><ion-icon name="nutrition-outline" slot="start"></ion-icon> Alimentos</ion-button>
              </ion-buttons>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label><strong>Janta</strong> - Bife</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <table class="macro-table">
                <thead>
                <tr>
                  <th>Macros</th>
                  <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Calorias</td>
                  <td>300 cal</td>
                </tr>
                <tr>
                  <td>Carboidratos</td>
                  <td>100g</td>
                </tr>
                <tr>
                  <td>Proteínas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Gorduras</td>
                  <td>10g</td>
                </tr>
                <tr>
                  <td>Sódio</td>
                  <td>50mg</td>
                </tr>
                </tbody>
              </table>

              <ion-buttons class="ion-margin-top">
                <ion-button size="small" fill="solid" shape="round" color="secondary"><ion-icon name="create-outline" slot="start"></ion-icon> Editar</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="danger"><ion-icon name="trash-bin-outline" slot="start"></ion-icon> Excluir</ion-button>
                <ion-button size="small" fill="solid" shape="round" color="tertiary"><ion-icon name="nutrition-outline" slot="start"></ion-icon> Alimentos</ion-button>
              </ion-buttons>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
