<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-title>Sumário</ion-title>
        </ion-col>

        <ion-col class="content-end">
          <ion-button size="small" color="dark" shape="round"><ion-icon name="notifications-circle-outline" class="notification-icon"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding light-color-section">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="5">
          <img src="../../assets/images/idea_illustration.svg" width="100%">
        </ion-col>

        <ion-col size="7">
          <ion-text color="primary"><h2>Ainda está confuso em como montar sua dieta?</h2></ion-text>
          <p>Aprenda um pouco mais sobre como calcular um volume de calorias adequado para você, e como encaixar os macronutrientes de maneira eficaz com seus objetivos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="cards ion-margin-top">
    <ion-text color="tertiary"><h3 class="ion-text-center">Artigos sobre nutrição</h3></ion-text>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img src="../../assets/images/card_proteina.jpg"/>
            <ion-card-header>
              <ion-card-subtitle>autor matéria</ion-card-subtitle>
              <ion-card-title>Nome da matéria</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam atque cumque eligendi eum labore necessitatibus rem sunt voluptate, voluptatibus?
              </p>
              <ion-button class="ion-margin-top" size="small" color="tertiary">Ler mais</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img src="../../assets/images/card_proteina.jpg"/>
            <ion-card-header>
              <ion-card-subtitle>autor matéria</ion-card-subtitle>
              <ion-card-title>Nome da matéria</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam atque cumque eligendi eum labore necessitatibus rem sunt voluptate, voluptatibus?
              </p>
              <ion-button class="ion-margin-top" size="small" color="tertiary">Ler mais</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <img src="../../assets/images/card_proteina.jpg"/>
            <ion-card-header>
              <ion-card-subtitle>autor matéria</ion-card-subtitle>
              <ion-card-title>Nome da matéria</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam atque cumque eligendi eum labore necessitatibus rem sunt voluptate, voluptatibus?
              </p>
              <ion-button class="ion-margin-top" size="small" color="tertiary">Ler mais</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img src="../../assets/images/card_proteina.jpg"/>
            <ion-card-header>
              <ion-card-subtitle>autor matéria</ion-card-subtitle>
              <ion-card-title>Nome da matéria</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam atque cumque eligendi eum labore necessitatibus rem sunt voluptate, voluptatibus?
              </p>
              <ion-button class="ion-margin-top" size="small" color="tertiary">Ler mais</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
